<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./style.css" type="text/css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.css" />
		<title>Layout Kanban</title>
	</head>
	<body>
		<!--HEADER-->
		<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				<a class="navbar-item" href="#">
					<img
						src="https://avatars.dicebear.com/api/bottts/adsaft1223saddasd.svg"
						width="45"
						height="28"
					/>
					<strong style="font-size: 1.4em">Kanban App</strong>
				</a>
			</div>

			<div id="navbarBasicExample" class="navbar-menu">
				<div class="navbar-end">
					<div class="navbar-item">
						<div class="buttons">
							<a class="button is-primary has-background-primary-dark"
								><strong>Sign up</strong></a
							>
							<a class="button is-light"> Log in </a>
						</div>
					</div>
				</div>
			</div>
		</nav>

		<!--MAIN CONTENT-->
		<section id="main-kanban" class="">
            <!--BACKLOG-->
			<div class="task-box has-background-primary-dark has-text-primary-light">
				<div class="task-category">
					<h1 class="has-text-primary-light title">Backlog</h1>
				</div>

				<div class="task-list">
					<!--TASK 1-->
                    <div class="task has-background-dark">
						<div class="task-todo">
							<p>
								Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia,
								maiores!
							</p>
						</div>

						<div class="task-detail">
                            <div class="email-and-date-stamp">
                                <p>by: <span>john@mail.com</span></p>
							    <p>created at: <span>28/01/2020</span></p>
                            </div>
                            
                            <div class="task-options">
                                <i class="fas fa-adjust fa-2x"></i>
                                <i class="fas fa-address-book fa-2x"></i>
                                <i class="fas fa-align-center fa-2x"></i>
                            </div>
						</div>
					</div>
				</div>

				<div class="field has-addons task-add">
					<div class="control">
						<input class="input" type="text" placeholder="Add Task" />
					</div>
					<div class="control">
						<a class="button is-info">Save</a>
					</div>
				</div>
			</div>

            <!--PRODUCT-->
            <div class="task-box has-background-primary-dark has-text-primary-light">
				<div class="task-category">
					<h1 class="has-text-primary-light title">Product</h1>
				</div>

				<div class="task-list">
					<!--TASK 1-->
                    <div class="task has-background-dark">
						<div class="task-todo">
							<p>
								Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia,
								maiores!
							</p>
						</div>

						<div class="task-detail">
                            <div class="email-and-date-stamp">
                                <p>by: <span>john@mail.com</span></p>
							    <p>created at: <span>28/01/2020</span></p>
                            </div>
                            
                            <div class="task-options">
                                <i class="fas fa-adjust fa-2x"></i>
                                <i class="fas fa-address-book fa-2x"></i>
                                <i class="fas fa-align-center fa-2x"></i>
                            </div>
						</div>
                    </div>

                    <!--TASK 2-->
                    <div class="task has-background-dark">
						<div class="task-todo">
							<p>
								Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia,
								maiores!
							</p>
						</div>

						<div class="task-detail">
                            <div class="email-and-date-stamp">
                                <p>by: <span>john@mail.com</span></p>
							    <p>created at: <span>28/01/2020</span></p>
                            </div>
                            
                            <div class="task-options">
                                <i class="fas fa-adjust fa-2x"></i>
                                <i class="fas fa-address-book fa-2x"></i>
                                <i class="fas fa-align-center fa-2x"></i>
                            </div>
						</div>
                    </div>

                    <!--TASK 3-->
                    <div class="task has-background-dark">
						<div class="task-todo">
							<p>
								Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia,
								maiores!
							</p>
						</div>

						<div class="task-detail">
                            <div class="email-and-date-stamp">
                                <p>by: <span>john@mail.com</span></p>
							    <p>created at: <span>28/01/2020</span></p>
                            </div>
                            
                            <div class="task-options">
                                <i class="fas fa-adjust fa-2x"></i>
                                <i class="fas fa-address-book fa-2x"></i>
                                <i class="fas fa-align-center fa-2x"></i>
                            </div>
						</div>
                    </div>

                    <!--TASK 4-->
                    <div class="task has-background-dark">
						<div class="task-todo">
							<p>
								Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia,
								maiores!
							</p>
						</div>

						<div class="task-detail">
                            <div class="email-and-date-stamp">
                                <p>by: <span>john@mail.com</span></p>
							    <p>created at: <span>28/01/2020</span></p>
                            </div>
                            
                            <div class="task-options">
                                <i class="fas fa-adjust fa-2x"></i>
                                <i class="fas fa-address-book fa-2x"></i>
                                <i class="fas fa-align-center fa-2x"></i>
                            </div>
						</div>
					</div>
				</div>

				<div class="field has-addons task-add">
					<div class="control">
						<input class="input" type="text" placeholder="Add Task" />
					</div>
					<div class="control">
						<a class="button is-info">Save</a>
					</div>
				</div>
            </div>
            
            <!--DEVELOPMENT-->
            <div class="task-box has-background-primary-dark has-text-primary-light">
				<div class="task-category">
					<h1 class="has-text-primary-light title">Development</h1>
				</div>

				<div class="task-list">
					<!--TASK 1-->
                    <div class="task has-background-dark">
						<div class="task-todo">
							<p>
								Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia,
								maiores!
							</p>
						</div>

						<div class="task-detail">
                            <div class="email-and-date-stamp">
                                <p>by: <span>john@mail.com</span></p>
							    <p>created at: <span>28/01/2020</span></p>
                            </div>
                            
                            <div class="task-options">
                                <i class="fas fa-adjust fa-2x"></i>
                                <i class="fas fa-address-book fa-2x"></i>
                                <i class="fas fa-align-center fa-2x"></i>
                            </div>
						</div>
                    </div>
                    
                    <!--TASK 2-->
                    <div class="task has-background-dark">
						<div class="task-todo">
							<p>
								Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia,
								maiores!
							</p>
						</div>

						<div class="task-detail">
                            <div class="email-and-date-stamp">
                                <p>by: <span>john@mail.com</span></p>
							    <p>created at: <span>28/01/2020</span></p>
                            </div>
                            
                            <div class="task-options">
                                <i class="fas fa-adjust fa-2x"></i>
                                <i class="fas fa-address-book fa-2x"></i>
                                <i class="fas fa-align-center fa-2x"></i>
                            </div>
						</div>
					</div>
				</div>

				<div class="field has-addons task-add">
					<div class="control">
						<input class="input" type="text" placeholder="Add Task" />
					</div>
					<div class="control">
						<a class="button is-info">Save</a>
					</div>
				</div>
            </div>
            
            <!--DONE-->
            <div class="task-box has-background-primary-dark has-text-primary-light">
				<div class="task-category">
					<h1 class="has-text-primary-light title">Done</h1>
				</div>

				<div class="task-list">
                    <!--TASK 1-->
					<div class="task has-background-dark">
						<div class="task-todo">
							<p>
								Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia,
								maiores!
							</p>
						</div>

						<div class="task-detail">
                            <div class="email-and-date-stamp">
                                <p>by: <span>john@mail.com</span></p>
							    <p>created at: <span>28/01/2020</span></p>
                            </div>
                            
                            <div class="task-options">
                                <i class="fas fa-adjust fa-2x"></i>
                                <i class="fas fa-address-book fa-2x"></i>
                                <i class="fas fa-align-center fa-2x"></i>
                            </div>
						</div>
                    </div>
                    
                    <!--TASK 2-->
                    <div class="task has-background-dark">
						<div class="task-todo">
							<p>
								Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia,
								maiores!
							</p>
						</div>

						<div class="task-detail">
                            <div class="email-and-date-stamp">
                                <p>by: <span>john@mail.com</span></p>
							    <p>created at: <span>28/01/2020</span></p>
                            </div>
                            
                            <div class="task-options">
                                <i class="fas fa-adjust fa-2x"></i>
                                <i class="fas fa-address-book fa-2x"></i>
                                <i class="fas fa-align-center fa-2x"></i>
                            </div>
						</div>
                    </div>
                    
                    <!--TASK 3-->
                    <div class="task has-background-dark">
						<div class="task-todo">
							<p>
								Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia,
								maiores!
							</p>
						</div>

						<div class="task-detail">
                            <div class="email-and-date-stamp">
                                <p>by: <span>john@mail.com</span></p>
							    <p>created at: <span>28/01/2020</span></p>
                            </div>
                            
                            <div class="task-options">
                                <i class="fas fa-adjust fa-2x"></i>
                                <i class="fas fa-address-book fa-2x"></i>
                                <i class="fas fa-align-center fa-2x"></i>
                            </div>
						</div>
                    </div>
                    
                    <!--TASK 4-->
                    <div class="task has-background-dark">
						<div class="task-todo">
							<p>
								Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia,
								maiores!
							</p>
						</div>

						<div class="task-detail">
                            <div class="email-and-date-stamp">
                                <p>by: <span>john@mail.com</span></p>
							    <p>created at: <span>28/01/2020</span></p>
                            </div>
                            
                            <div class="task-options">
                                <i class="fas fa-adjust fa-2x"></i>
                                <i class="fas fa-address-book fa-2x"></i>
                                <i class="fas fa-align-center fa-2x"></i>
                            </div>
						</div>
                    </div>
                    
                    <!--TASK 5-->
                    <div class="task has-background-dark">
						<div class="task-todo">
							<p>
								Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia,
								maiores!
							</p>
						</div>

						<div class="task-detail">
                            <div class="email-and-date-stamp">
                                <p>by: <span>john@mail.com</span></p>
							    <p>created at: <span>28/01/2020</span></p>
                            </div>
                            
                            <div class="task-options">
                                <i class="fas fa-adjust fa-2x"></i>
                                <i class="fas fa-address-book fa-2x"></i>
                                <i class="fas fa-align-center fa-2x"></i>
                            </div>
						</div>
					</div>
				</div>

				<div class="field has-addons task-add">
					<div class="control">
						<input class="input" type="text" placeholder="Add Task" />
					</div>
					<div class="control">
						<a class="button is-info">Save</a>
					</div>
				</div>
			</div>
			
		</section>

		<script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
	</body>
</html>
