body {
    margin: 0 auto;
}

/* Login */
.container-login{
    margin: 0 auto;
    margin-top: 200px;
    padding: 50px;
    width: 22%;
    height: 500px;
    background-color: rgb(1, 0, 44);
    color: white;
    border-radius: 10px;
}
.container-login p {
    display: flex;
    margin-top: 10px;
    text-decoration: none;
}

/* Register */
.container-register{
    margin: 0 auto;
    margin-top: 200px;
    padding: 50px;
    width: 22%;
    height: 500px;
    background-color: rgb(1, 0, 44);
    color: white;
    border-radius: 10px;
}

/* Navbar */
.navbar{
    height: 80px;
    background-color: rgb(1, 0, 44);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.navbar i{
    margin-right: 10px;
}

.account{
    display: flex;
    align-items: baseline;
    margin-right: 10px;
}

/* Wall */
.wall{
margin: 0 auto;
width: 75%;
height: 800px;
display: flex;
justify-content:center;
align-items: center;
}

/* Kanban */
.container-kanban{
    margin: 0 auto;
    padding: 0px;
    width: 21%;
    height: 500px;
    background-color: rgb(235, 235, 235);
    color: white;
    border-radius: 10px;
    overflow: hidden;
}

.kanban-header{
    width: 100%;
    height: 80px;
    background-color:  rgb(1, 0, 44);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.kanban-header i{
    cursor: pointer;
}
.kanban-task{
    align-self: start;
    height: 450px;
    padding: 20px;
    background-color: rgb(230, 227, 227);
    overflow: scroll;
}

.task {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    line-height: 8px;
    color: black;
    margin-bottom: 10px;
}
.task span{
    font-weight: bold;
    margin-bottom: 10px;
}

.kanban-add{
    align-items: flex-end;
    height: 50px;
    background-color: rgb(138, 138, 138);
}