// ---------- IMPORT ----------
@import './reset';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

// ---------- VARIABLE ----------
$asset-base-path: '../assets' !default; // helper path

$primary-color: #519839;
$main-color:#ebecf0;
$card-color: white;

$a-text-color: white;
$b-text-color: #898989;
$c-text-color: #343434;

// ---------- FUNCTION  ----------
@function asset($type, $file) {
    @return url($asset-base-path + '/' + $type + '/' + $file);
}

// ---------- MIXIN  ----------
@mixin basic-card {
    border-radius: 5px;
    background-color: $card-color;
    margin-bottom: 10px;
    padding: 10px 7px;
    box-shadow: 0px 1px 7px 0px rgb(212, 212, 212);
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
    // For Google Chrome
    &::-webkit-scrollbar {
      width:  $size;
      height: $size;
    }
  
    &::-webkit-scrollbar-thumb {
      background: $foreground-color;
    }
  
    &::-webkit-scrollbar-track {
      background: $background-color;
    }
  
    // For Internet Explorer
    & {
      scrollbar-face-color: $foreground-color;
      scrollbar-track-color: $background-color;
    }
}


// ---------- MAIN  ----------
body, textarea, button {
    font-family: 'Poppins', sans-serif;
    background-image: asset('img', 'asfalt-light.png');
    background-color: lighten($primary-color, 5px);
}

// header  {
//     nav {
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         background-color: $primary-color;
//         padding: 10px;

//         .logo {
//             font-weight: 700;
//             font-size: 1.5rem;
//             text-decoration: line-through;
//         }

//         .nav-items {
//             color: $a-text-color;
//             display: flex;
//             align-items: center;
//             margin: 0 1rem;

//             a {
//                 color: $a-text-color;
//                 text-decoration: none;
//                 margin-right: 20px;
//             }

//             .avatar {
//                 width:30px;
//                 border-radius: 50%;
//             }
//         }
//     }
// }

// main {
//     width: 100%;

//     .board {
//         display: flex;
//         justify-content: flex-start;
//         flex-wrap: nowrap;

//         .board-sec_blank {
//             background-color: transparentize($main-color, 0.1) !important;

//             &__add {
//                 // width: 100%;
//                 padding: 10px;
//                 text-align: center;
//                 border: dashed $b-text-color 0.1rem;
//                 border-radius: 5px;
//             }
//         }

//         .board-sec {
//             border-radius: 5px;
//             background-color: $main-color;
//             width: 280px;
//             padding: 5px;
//             margin: 20px;
//             font-weight: 400;
//             height: fit-content;
//             max-height: 85vh;
//             overflow: auto;
//             @include scrollbars(.3em, $primary-color);

//             &__title {
//                 font-weight: 700;
//                 display: flex;
//                 justify-content: space-between;
//                 align-items: center;
//                 height: 40px;
//                 padding: 0 15px 5px;

//                 a {
//                     color: $b-text-color;
//                 }
//             }

//             &__card {
//                 @include basic-card;

//                 &:hover {
//                     background-color: darken($card-color, 3%);
//                     cursor: pointer;
//                 }

//                 &:hover .card__main > i {
//                     visibility: visible;
//                 }

//                 .card__main {
//                     padding-bottom: 20px;
//                     line-height: 1.5rem;
//                     font-weight: 400;
//                     font-size: 0.9rem;
//                     color: $c-text-color;
//                     position: relative;

//                     i {
//                         position: absolute;
//                         right: 0;
//                         top: 0;
//                         padding: 0.3rem;
//                         border-radius: 5px;
//                         visibility: hidden;

//                         &:hover {
//                             background-color: darken($main-color, 5%);
//                         }
//                     }

//                     p {
//                         max-width: 96%;
//                     }
//                 }

//                 .card__bottom {
//                     display: flex;
//                     justify-content: space-between;
//                     align-items: center;
//                     font-size: small;
//                     color: $b-text-color;

//                     &__author {
//                         padding: 5px;
//                         box-sizing: content-box;
//                         border-radius: 5px;

//                         &:hover {
//                             background-color: darken($main-color, 5%);
//                         }
//                     }
//                 }
//             }

//             &__bottom {
//                 // padding: 10px;
//                 border-radius: 5px;
//                 padding: 10px 7px;

//                 // margin: 5px 0;
//                 color: $b-text-color;
//                 font-weight: 200;

//                 &:hover {
//                     background-color: darken($main-color, 5%);
//                 }
//             }

//             &__bottom-add {
//                 margin-bottom: 5px;

//                 .fas {
//                     transform: scale(1.2);
//                     margin-left: 15px;
//                 }

//                 button {
//                     &:hover {
//                         background-color: darken($primary-color, 10%);
//                         cursor: pointer;
//                     }

//                     color: $a-text-color;
//                     padding: 5px 10px;
//                     font-size: 1rem;
//                     border-radius: 5px;
//                     border: none;
//                     outline: none;
//                     background-color: $primary-color;
//                 }
//             }

//             &__add-card {
//                 form textarea {
//                     @include basic-card;
//                     font-size: 1rem;
//                     border: none;
//                     outline: none;
//                     resize: none;
//                     height: 5rem;
//                     min-width: 100%;
//                     max-width: 100%;

//                     &:active, &:focus {
//                         border: none;
//                         outline: none;
//                     }

//                     box-sizing: border-box;
//                     width: 100%;
                    
//                 }
//             }
//         }
//     }
// }