.navbar{
    display: flex;
    align-items: center;
    background-color:#c71c32;
    height: 20px;
    padding: 10px;
    justify-content: space-between;
    
}
li {
    list-style: none;
    color: white;
    margin: 20px;
}
a {
    text-decoration: none;
    color: white
}
.logout {
    Text-decoration: none;
}
.container {
    display: flex;
    justify-content: space-around;
    margin: 5px
}
.sub-container {
    background-color: pink;
    border-radius: 15px;
}
.title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: thin;
    margin: 5px;
    width: 250px;
    height: 60px;
    background: #c71c32;
    border-radius: 15px;
}
.column {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    margin: 5px;
    border-radius: 15px;
}
.left-navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px
}
.footer-text {
    color: #a99f95;
    margin-block-start: 30px;
    margin-block-end: 1px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}
.addTask-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    
}
.addTask {
    font-size: x-large;
    color: #f8bf32;
    margin-block-start: 5px;
    margin-block-end: 5px;
    
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-center;
    width: 150px;
}
.form-container {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: pink;
    border-radius: 15px;
    width: 260px;
    margin: 10px;
}
.title-form {
    font-size: x-large;
    color: #c71c32;
    width: 200px;
    margin-inline-start: 10px;
}
.form-content {
    size: 50px;
    border-radius: 90px;
    font-size: large;
    width: 200px;
    margin: 10px;
    padding: 10px
}
h2 {
    color: #f8bf32;
    padding: 10px
}
.fa-edit {
    color: #f8bf32;
    padding: 10px;
}
.fa-plus-square { 
    color: #f8bf32;
    padding: 5px;
    size: 100px;

}
.fa-bars {
    color: #c71c32;
}
.fa-trash {
    color: #c71c32;
}
h3 {
    color: white;
    margin: 5px
}
h4 {
    color:#c71c32;
    margin: 5px;
}