<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- vue.js development version -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Kanban Uwu</title>
</head>
<body>
    <!-- Vue.js implementation -->
    <div id="app">
        <!-- navbar -->
        <header class="navbar navbar-expand-lg navbar-light bg-dark mb-5 sticky-top">
            <a class="navbar-brand text-white" href="#">Kanban</a>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="#" id="HomeNav"
                            onclick="afterLogin()">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="#" id="LoginNav"
                            onclick="showRegisterForm()">Login</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="#" id="RegisterNav"
                            onclick="showRegisterForm()">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#" id="logout">Logout</a>
                    </li>
                </ul>
            </div>
        </header>

        <!-- form login -->
        <div class="container my-5 py-3 border border-dark" style="width: 35%;" v-if="page==='login'">
            <div class="container" id="login">
                <form id="loginForm" class="my-3">
                    <div class="container">
                        <h3 class="text-center">Login to Kanban</h3>
                    </div>
                    <div class="form-group">
                      <label for="input_email">Email address</label>
                      <input type="email" class="form-control" id="input_email" aria-describedby="emailHelp" placeholder="Email">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                      <label for="input_password">Password</label>
                      <input type="password" class="form-control" id="input_password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary" style="width: 100%;" v-on:click="login">Login</button>
                </form>
            </div>
        </div>

        <!-- form register -->
        <div class="container my-5 py-3 border border-dark" style="width: 35%;" v-if="page==='register'">
            <div class="container" id="register">
                <form id="registerForm" class="my-3">
                    <div class="container">
                        <h3 class="text-center">Register to Kanban</h3>
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                      <label for="email">Email address</label>
                      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-dark" style="width: 100%;">Register</button>
                </form>
            </div>
        </div>  
    
        <!-- kanban board -->
        <div class="mx-auto my-0 px-0" id="board" style="width: 90%;" v-if="page==='afterLogin'">
            <!-- header of kanban board -->
            <div class="container d-flex flex-row justify-content-between my-3 mx-0 px-0 mw-100">
                <h3 class="mr-3">Kanban Board</h3>
                <button type="button" class="btn btn-link">New Task</button>
            </div>
            <!-- content of the kanban board -->
            <div class="container justify-content-xl-between px-0 mw-100">
                <div class="row">
                    <!-- backlog -->
                    <div class="col-3 px-2">
                        <div class="card">
                            <h5 class="card-header bg-warning text-white">Backlog</h5>
                            <div class="card-body px-1" id="Backlog">
                                <div class="card" style="width: 100%;">
                                    <h5 class="card-header bg-light text-dark">Card Title</h5>
                                    <div class="card-body">
                                        <h6 class="card-subtitle text-muted">Card subtitle</h6>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <button type="button" class="btn btn-secondary">Detail</button>
                                        <button type="button" class="btn btn-primary">&#x276F</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- todo -->
                    <div class="col-3 px-2">
                        <div class="card">
                            <h5 class="card-header bg-dark text-white">To-do</h5>
                            <div class="card-body px-1" id="Todo">
                                <div class="card" style="width: 100%;">
                                    <h5 class="card-header bg-light text-dark">Card Title</h5>
                                    <div class="card-body">
                                        <h6 class="card-subtitle text-muted">Card subtitle</h6>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <button type="button" class="btn btn-secondary">Detail</button>
                                        <button type="button" class="btn btn-primary">&#x276E</button>
                                        <button type="button" class="btn btn-primary">&#x276F</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- doing -->
                    <div class="col-3 px-2">
                        <div class="card">
                            <h5 class="card-header bg-success text-white">Doing</h5>
                            <div class="card-body px-1" id="Doing">
                                <div class="card" style="width: 100%;">
                                    <h5 class="card-header bg-light text-dark">Card Title</h5>
                                    <div class="card-body">
                                        <h6 class="card-subtitle text-muted">Card subtitle</h6>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <button type="button" class="btn btn-secondary">Detail</button>
                                        <button type="button" class="btn btn-primary">&#x276E</button>
                                        <button type="button" class="btn btn-primary">&#x276F</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- done -->
                    <div class="col-3 px-2">
                        <div class="card">
                            <h5 class="card-header bg-info text-white">Done</h5>
                            <div class="card-body px-1" id="Done">
                                <div class="card" style="width: 100%;">
                                    <h5 class="card-header bg-light text-dark">Card Title</h5>
                                    <div class="card-body">
                                        <h6 class="card-subtitle text-muted">Card subtitle</h6>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <button type="button" class="btn btn-secondary">Detail</button>
                                        <button type="button" class="btn btn-primary">&#x276E</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                  </div>
                </div>
            </div>
        </div>

        <!-- form add task -->
        <div class="container my-5 py-3 border border-dark" style="width: 35%;" v-if="page==='afterLogin'">
            <div class="container" id="addTask">
                <form id="addTaskForm" class="my-3">
                    <div class="container">
                        <h3 class="text-center">Add a new task</h3>
                    </div>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" rows="3" placeholder="Provide a brief description."></textarea>
                    </div>
                    <div class="form-group">
                        <label for="category">Status</label>
                        <select class="form-control" style="width: 100%;" name="category" id="category">
                            <option>Select a status</option>
                            <option value="backlog">Backlog</option>
                            <option value="todo">Todo</option>
                            <option value="doing">Doing</option>
                            <option value="done">Done</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="assigned_to">Assigned to</label>
                        <input type="text" class="form-control" id="assigned_to" placeholder="e.g. Your or your colleague's name">
                    </div>
                    <button type="submit" class="btn btn-primary" style="width: 100%;">Add</button>
                </form>
            </div>
        </div>  

    </div>
</body>
<script src="./main.js"></script>
</html>