#app{
    background-color: wheat;
    height: 100vh;
    /* border: solid; */
}

.board{
    display: flex;
    overflow-x: scroll;
    padding: 10px 30px;
    height: 100%;
    /* width: 90%; */
    /* padding-bottom: 15px; */
    /* border: solid; */
    box-sizing: content-box;
}

.category-container {
    margin: 0 10px;
    min-width: 350px;
    background-color: whitesmoke;
    /* max-height: 100%; */
    border-radius: 10px; 
    display: flex;
}

#category-add{
    height: 150px;
}

.pop-up{
    position: fixed;
    z-index: 999; 
    height: 100vh;
    width: 100%;
    background-color: #75879a7a;
}
.pop-up-form{
    /* margin-top: 30%; */
    margin: 15% auto;
    max-width:500px ;
}

#task-container{
    overflow-y: scroll;
}
.board-container{

    /* width: 100vh; */
    height: 90vh;
    overflow: hidden;
}

#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }


.category-container:hover{
    transform: scale(1.001);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.task-container:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}